
.full-width {
  width: 100%;
  margin: 0 auto;
}


.container {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  align-items: center;
}
  div {
    align-items: center;
    img {
      width: 160px;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    li {
      list-style: none;
      margin-right: 15px;


      a {
        text-decoration: none;
        font-size: 1rem;
        margin-left: 20px;
        background: rgb(0, 60, 255);
        border-radius: 5px;
        padding: 5px 10px;
        color: white;
      }
    }
  }


.btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(0, 60, 255);
  color: white;
  text-decoration: none;
  margin-left: 20px;
  a {
    color: white;
    text-decoration: none;
  }
}

.nav__logo {
  flex-grow: 1;
}