
.main__content {
  width: 100%;
  text-align: center;
  background: url("../images/main.jpg") center center;
  background-size: cover;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: rgba(72, 67, 67, 0.36);
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: gainsboro;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
  }

  a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    background-color: rgba(240, 0, 255, 0.76);
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;

  }

  a:hover {
    background-color: rgba(0, 21, 255, 0.9);
  }
}