.blurbs__section {
  border-top: 30px solid #057c66;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgb(35, 34, 41);
  color: white;
  padding: 6rem 0;
  font-family: 'Lato', sans-serif;
  text-align: center;

  .blurb {
    justify-content: space-between;
  }

  img {
    border-radius: 10%;
    margin: 0 auto;
    max-width: 150px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 0 auto;
    color: #057c66;
    font-weight: bold;
  }

  p {
    padding: 1rem 0;
    font-size: 1.2rem;
    margin: 0 auto;
    font-weight: lighter;
  }


}

.blurb__box {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 350px;


  .blurb__box-content {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    border-bottom: #000000 solid 2px;
    border-left: #000000 solid 2px;
    border-right: #000000 solid 2px;
    box-shadow: #000000  0 5px;
    padding: 1rem;
    a {
      align-self: flex-end;
      color: #057c66;
      text-decoration: none;
      font-weight: bold;
      text-align: right;
      padding-bottom: 1rem;
      padding-right: 1rem;
    }

  }

}

