.book__repair {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: #057c66;
  color: #ffffff;
  padding: 20px 0;
  font-family: 'Lato', sans-serif;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    padding: 10px 20px;
  }

  a {
    margin-left: 20px;
    font-size: 1rem;
    color: #057c66;
    text-decoration: none;
    background: #ffffff;
    border-radius: 15px;
    padding: 5px 10px;
  }
}

.client__desc {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  h1 {
    padding: 3rem 0;
    color: #057c66;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;

  }

  p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 50px 30px;
    text-align: center;
  }
}


.client {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #2b2b2c;
  color: #ffffff;
  font-family: 'Lato', sans-serif;

}

.client__images {

  .client__images-absolut {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .client__images-1 {
    position: relative;
    top: -80px;
    right: -219px;
    z-index: 999;
    max-width: 230px;
  }

  .client__images-2 {
    position: relative;
    top: 104px;
    right: -13px;
    z-index: 100;
    max-width: 220px;
  }

  .client__images-3 {
    position: absolute;
    right: 26%;
    top: 77px;
    z-index: 0;
    max-width: 280px;
  }
}

.client__desc-joe {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #2b2b2c;
  color: #ffffff;
  font-family: 'Lato', sans-serif;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0;
    color: #057c66;
  }

  p {
    padding: 0;
    color: #057c66;
    text-align: center;
  }

}

.client__image-joe {
  margin: 10px;
  width: 100px;
  height: auto;
  border-radius: 50%;


}