.contact__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  background-color: whitesmoke;
}

.contact__box {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
}

.form__box {

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px auto;
    padding: 0;

    label {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 15px 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    button {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 15px 0;
        padding: 10px 15px;
         background-color: cornflowerblue;
        color: whitesmoke;
        border: none;
        border-radius: 5px;

    }
    input {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 15px 0;
      padding: 10px 15px;
      background-color: cornflowerblue;
      color: white;
      border: none;
      border-radius: 5px;
    }
    textarea {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 15px 0;
      padding: 10px 15px;
      background-color: cornflowerblue;
      color: white;
      border: none;
      border-radius: 5px;
    }
    .message__result {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 15px 0;
        padding: 0;
        text-align: center;
        border-radius: 30px;
        background-color: #79dc63;
    }
  }
}