.footer {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #a49898;
}
.footer__container__logo {
    img {
        height: 100px;
    }
}