.footer {
    background-color: rgb(43, 43, 44);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
.footer__container__logo {
    img {
        height: 100px;
    }
}