@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import "utilities";
@import "header";
@import "maincontent.scss";
@import "blurbs";
@import "contact";
@import "footer";

root {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
    background-color: #232228;
  box-sizing: border-box;
}

