.form-group {
  margin-bottom: 1rem;
    label {
      font-weight: bold;
      font-size: 1rem;
    }
    input {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 0.5rem;
      font-size: 1rem;
      width: 100%;
    }

}